@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{
    background-image: url("../img/wall.png");
}
h1{
    text-align: center;
    font-size: 200px;
    font-family: "Edu TAS Beginner";
}
.photoboard{
    padding-top: 80px;
    background-image: url("../img/cork.png");
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.photocard{
   padding: 30px;
   margin: 30px;
   background-color: white;
   height: 780px;
   width: 660px;
}
#pic{
    width: 600px;
    height: 600px;    
}
#pin{
    position: absolute;
    height: 50px;
    transform: translate(275px,-45px);
}
#title{
    font-family: "Edu TAS Beginner";
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
}
#date{
    font-family: "Sometype Mono";
    color: grey;
    font-weight: 500;
    font-size: 25px;
    padding-top: 15px;
}