@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{
    background-image: url("../img/wall.png");
}
h1{
    text-align: center;
    font-size: 13rem;
    font-family: "Edu TAS Beginner";
    flex-grow: 1;
}
.photoboard{
    padding-top: 5rem;
    background-image: url("../img/cork.png");
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.photocard{
   padding: 2rem;
   margin: 2rem;
   background-color: white;
   height: 50rem;
   width: 41.25rem;
}
#pic{
    width: 37.5rem;
    height: 37.5rem;    
}
#pin{
    position: absolute;
    height: 3.25rem;
    transform: translate(17.5rem,-3rem);
}
#title{
    font-family: "Edu TAS Beginner";
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
}
#date{
    font-family: "Sometype Mono";
    color: grey;
    font-weight: 500;
    font-size: 2.5rem;
    padding-top: 1rem;
}
.overlay{
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.26);
}
section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
button{
    margin-top: 5rem;
    font-size: 4rem;
    width: 16rem;
    align-self: center;
}
.overimage{
    margin-top: 10rem;
    width: 100rem;
    height: 100rem;
    align-self: center;
    
}

@media screen and (max-width: 768px) {
    html{
        font-size: 10px;
    }
    h1{font-size: 10rem;}
    .overimage{
    width: 50rem;
    height: 50rem;
    }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
    html{
        font-size: 8px;
    }
}
@media screen and (min-width: 993px) and (max-width: 1264px){
    html{
        font-size: 7px;
    }  
}
@media screen and (min-width: 1265px) and (max-width: 1628px){
    html{
        font-size: 9px;
    }  
}
@media screen and (min-width: 1629px) and (max-width: 2172px){
    html{
        font-size: 12px;
    }
    .overimage{
    margin-top: 5rem;
    width: 80rem;
    height: 80rem;
    }
}
@media screen and (min-width: 2173px){
    html{
        font-size: 16px;
    }
    .overimage{
    margin-top: 5rem;
    width: 70rem;
    height: 70rem;
    }
}